<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
  <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ShadesOfNether"/>
  <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraftforge.userdev.LaunchTesting"/>
  <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dforge.logging.console.level=debug -Dforge.logging.markers=SCAN,REGISTRIES,REGISTRYDUMP"/>
  <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=""/>
  <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="E:\Java\MC\Shades of Nether\1.14.2\ShadesOfNether\run"/>
  <mapAttribute key="org.eclipse.debug.core.environmentVariables">
    <mapEntry key="MOD_CLASSES" value="examplemod%%E:\Java\MC\Shades of Nether\1.14.2\ShadesOfNether\bin\main;examplemod%%E:\Java\MC\Shades of Nether\1.14.2\ShadesOfNether\bin\main"/>
    <mapEntry key="MCP_MAPPINGS" value="snapshot_20190621-1.14.2"/>
    <mapEntry key="MCP_VERSION" value="20190603.175704"/>
    <mapEntry key="FORGE_VERSION" value="26.0.63"/>
    <mapEntry key="FORGE_GROUP" value="net.minecraftforge"/>
    <mapEntry key="target" value="fmluserdevserver"/>
    <mapEntry key="MC_VERSION" value="1.14.2"/>
  </mapAttribute>
</launchConfiguration>
